@import "custom";
@import "~bootstrap/scss/bootstrap";

.content {
  min-height: 100vh;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;  
  height:5vh;
  background-color: #505050;
  img{
    display: flex-inline;
    align-items: center;
    max-height: 4vh;
    margin-left: 5px;
  }
  a{
    text-decoration: underline;
    color:#fff;
    &:hover{
      color:#0D2535;
    }
    img{

    }
  }
}
.nav.nav-link{
  color:#202428;
}

.nav-aditional-link{
  position:absolute;
  visibility: hidden;
  & *{
    font-size: 0.85em;
    color:#B7B7B8;
    display: inline-block;
  }
}
.nav-main-link:hover .nav-aditional-link{
  visibility: visible;
}

.mouse-pointer{
  cursor: pointer;
}

.circle-background,
.circle-progress {
  fill: #071B22;
}

.circle-background {
  stroke: #204528;
}

.circle-progress {
  stroke: #23D07A;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 0.8em;
  font-weight: bold;
  fill: #fff;
}

.search-results{
  position: absolute;
  left:0;
  z-index: 999;
  background-color: white;
}
.hoverable:hover{
  background-color: #EFEFEF;
}

@media only screen and (max-width: 991px) {
  .nav-aditional-link{
    position:absolute;
    visibility: none;
    margin-left: 20px;
    & *{
      margin-right: 10px;
    }
  }
  .nav-main-link:hover .nav-aditional-link{
    position:relative;
    visibility: visible;
  }
}